body{
    background-color: #5d575785;
}

header{
    position: fixed;
    width: 100%;
    height: 5em;
    background-color: #00ff72;
    top: 0;
    left: 0;
}

.header-title{
    font-size: 22pt;
    margin-top: 0.7%;
    margin-left: 2em;
    color: white;
    font-family: "Segoe UI";
    font-weight: 500;
}

.data-box{
    background-color: #14af6f;
    margin: 7em auto;
    width: 40%;
    height: 88%;
    position: fixed;
    left: 0;
    right: 0;
    border-radius: 23px;
}

.data-box-title{
    text-align: center;
    margin-top: 2em;
    font-size: 23pt;
    font-family: "Segoe UI";
    font-weight: 100;
}
.data-pickers{
    margin: 0 auto;
    width: 50%;
}

.data-picker{
    margin: 0 auto;
    width: 48%;
    padding: 10px 10px 10px;
    color: #2ada1e;
}

#data-content-title{
    text-align: center;
    font-size: 18pt;
}

#data-content{
    width: 100%;
    height: 100%;
}
